// mixins
@mixin font-card-headline {
  font-family: "Circular Std Bold";
  font-size: 1.6rem;
  letter-spacing: 0.6px;
  margin-bottom: 1rem;
}

@mixin span-tags {
  background: $grey-blue;
  padding: .2rem .5rem;
  font-size: 1.4rem;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  color: $dark-grey; 
}

// styles
#main {
  .word-card {
    position: relative;
    width: 90%;
    background: white;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 6rem;
    height: auto;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 11px 0px rgba(0,0,0, 0.1);

    &__header {
      display: flex;
      justify-content: space-between;
      font-size: 2.1rem;
      position: relative;
      top: 0;
      color: $purple;
      font-family: $font-circular-bold;

      .save-word {
        &:hover {
          cursor: pointer;
          transform: scale(1.5)
        }
      }
    }

    &__wrapper {
      display: flex;

      &__first-letter {
        font-size: 15rem;
        font-family: $font-circular-bold;
        color: $light-grey;
      }

      &__word {
        align-self: center;
        position: relative;
        right: 7.5rem;
        top: 3.3rem;
      }

      &__speech {
        align-self: center;
        font-size: 2rem;
        position: relative;
        right: 9rem;
        color: $teaGreen;
      }
    }

    &__definition-wrapper {
      position: relative;
      top: -15px;
      text-align: center;
    }

    &__synonyms {
      margin-left: 5%;

      p {
        @include font-card-headline;
        color: $orange;
      }
      span {
        @include span-tags;
      }
    }

    &__antonyms {
      margin-left: 5%;

      p {
        @include font-card-headline;
        color: $magenta;
      }
      span {
        @include span-tags;
      }
    }

    &__sentence {
      margin-left: 5%;
      clear: both;
      p {
        @include font-card-headline;
        color: $blue;
      }
      span {
        @include span-tags;
      }
    }
  }

  .span {
    cursor: pointer;
  }

  // hover for all spans
  .span:hover {
    background: $teaGreen;
  }

  .word-not-found,
  .word-not-entered {
    font-size: 3rem;
    text-align: center;
    color: $navy-blue;
  }
}

