// mixins
@mixin font-card-headline {
  font-family: "Circular Std Bold";
  font-size: 1.6rem;
  letter-spacing: 0.6px;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-tablet){ font-size: 2rem; }
  @media (min-width: $breakpoint-l-tablet){ font-size: 2.6rem; }
  @media (min-width: $breakpoint-laptop){ font-size: 2rem; }
}

@mixin span-tags {
  background: $grey-blue;
  padding: .2rem .5rem;
  font-size: 1.4rem;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  color: $dark-grey; 

  @media (min-width: $breakpoint-tablet){ font-size: 1.9rem; }
  @media (min-width: $breakpoint-l-tablet){ font-size: 2.6rem; }
  @media (min-width: $breakpoint-laptop){ font-size: 1.9rem; }
}

// styles
#main, #words-save {
  .word-card {
    position: relative;
    width: 90%;
    background: white;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 6rem;
    height: auto;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);

    &--save {
      max-width: 90rem;
      right: 0;
      left: 0;

      &:nth-child(odd){
        left: 0 !important;
      }

    }

    &__header {
      display: flex;
      justify-content: space-between;
      font-size: 2.1rem;
      position: relative;
      top: 0;
      color: $purple;
      font-family: $font-circular-bold;
    }

    &__form {

      button {
        border: none;
        background: none;
        font-size: 2rem;
        cursor: pointer;
      }

      &:hover {
        transform: scale(1.5)
      }
    }

    &__wrapper {
      display: flex;

      @media (max-width: $breakpoint-phone){
        margin-bottom: 1.5rem;
      }

      &__first-letter {
        font-size: 15rem;
        font-family: $font-circular-bold;
        color: $light-grey;
      }

      &__word {
        align-self: center;
        position: relative;
        right: 7.5rem;
        top: 3.3rem;

        &--save {
          font-size: 4rem;
        }
      }

      &__speech {
        align-self: center;
        font-size: 2rem;
        position: relative;
        right: 9rem;
        color: $teaGreen;

        &--save {
          left: .6rem;
        }
      }

      @media (min-width: $breakpoint-tablet){
        justify-content: center;

        &__first-letter {
          font-size: 24rem;
        }

        &__word {
          right: 8.5rem;
        }
      }

      @media (min-width: $breakpoint-l-tablet){
        &__first-letter {
          font-size: 27rem;
        }

        &__word {
          font-size: 5rem;
        }
      }
    }

    &__delete {
      font-size: 2rem;
      position: absolute;
      right: 21px;
      top: 13px;
      color: $orange;

      &:hover {
        color: $magenta;
      }
    }

    &__definition-wrapper {
      position: relative;
      top: 3px;
      text-align: center;
      margin-bottom: 2rem;

      &--save {
        p {
          font-size: 1.7rem;
          margin-top: 1rem;
          text-align: center;
        }
      }

      @media (min-width: $breakpoint-tablet){
        padding: 0 50px;

        p {
          font-size: 2rem;
          line-height: 1.2;
        }
      }

      @media (min-width: $breakpoint-l-tablet){ p { font-size: 2.7rem; }}
      @media (min-width: $breakpoint-laptop){ p { font-size: 2rem; }}
    }

    &__synonyms {
      margin-left: 5%;

      p {
        @include font-card-headline;
        color: $orange;
      }
      span {
        @include span-tags;
      }
    }

    &__antonyms {
      margin-left: 5%;

      p {
        @include font-card-headline;
        color: $magenta;
      }
      span {
        @include span-tags;
      }

      @media (min-width: $breakpoint-tablet){
        float: right;
        margin-right: 5%;
      }
    }

    &__sentence {
      margin-left: 5%;
      clear: both;
      p {
        @include font-card-headline;
        color: $blue;
      }
      span {
        @include span-tags;
      }
    }

    @media (min-width: $breakpoint-tablet){
      max-width: 46rem;

      &:nth-child(even){
        right: 15%;
      }
      
      &:nth-child(odd){
        left: 15%;
      }
    
      &:first-child {
        left: 0;
      }
    }

    @media (min-width: $breakpoint-l-tablet){ max-width: 60rem; }
    @media (min-width: $breakpoint-laptop){ max-width: 70rem; }
  }

  .span {
    cursor: pointer;
  }

  // hover for all spans
  .span:hover {
    background: $teaGreen;
  }

  .word-not-found,
  .word-not-entered {
    font-size: 3rem;
    text-align: center;
    color: $navy-blue;
  }

  .word-saved {
    font-size: 4rem;
    color: $purple;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
    transition: all .2s ease-in-out;
    animation: grow .3s ease-in-out;

    @media (min-width: $breakpoint-l-tablet){ font-size: 15rem; }
  }

  @keyframes grow {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

