// Colors
$dark-grey: #4e5e75;
$light-grey: #eff2f7;
$navy-blue: #1d243d;
$alice-blue: #ebf3ff;
$yellow: #fce823;
$orange: #F6B544;
$violet: #bab6ff;
$teaGreen: #7BEFBC;
$magenta: #D93B98;
$purple: #9348E7;
$blue: #5EA0FA;
$grey-blue: #EEF5FF;


// Media queries
$breakpoint-phone: 414px;
$breakpoint-tablet: 768px;
$breakpoint-l-tablet: 1024px;
$breakpoint-laptop: 1200px;